body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-family: fantasy;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 60px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 30px;
  font-family: fantasy;
  font-size: larger;
}

.history-btn {
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: fantasy;
  font-weight: bold;
  color: #404040;
  border: none;
  outline: none;
  background-color: #e6f4fa;
  border-radius: 1rem;
  width: 150px;
  height: 34px;
}

.history-btn:hover {
  background-color: #c8efff;
  font-weight: bolder;
}

.colored-square {
  background-color: #fff0ee;
  border: 2px solid #ffa2a2;
  /* z-index: 9; */
}